@font-face {
  font-family: 'Paddington-Italic';
  src: url('http://cdn.wf.youziku.com/webfonts/css/youziku/38970/38970.gif');
  src: url('http://cdn.wf.youziku.com/webfonts/css/youziku/38970/38970.gif?#iefix') format('embedded-opentype'), url('http://cdn.wf.youziku.com/webfonts/css/youziku/38970/38970.bmp') format('woff'), url('') format('truetype'), url('http://cdn.wf.youziku.com/webfonts/css/youziku/38970/38970.png#Paddington-Italic') format('svg');
}

/* 帕丁顿粗斜体 英文 */
.font-italic {
  font-family: "Paddington-Italic";
}

/* 帕丁顿更粗斜体 英文 */
.font-bold-italic {
  font-family: "Paddington-BoldItalic";
}