.login-card {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.input-box {
  border-radius: 99rem;
}

form>.btn {
  border-radius: 99rem;
}