/* 使轮播图响应式显示 */
.banner {
  width: 100%;
  height: 15rem;
  background-image: linear-gradient(to left, #4481eb 0%, #04befe 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 轮播图指示符 */
.carousel-indicators {
  margin: 0.3rem;
}

.carousel-indicators li {
  border-radius: 99rem;
  height: 0.5rem;
  width: 0.5rem;
}